@font-face {
    font-family: "FuturaPT";  
    src: url("../fonts/FuturaPT-bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
    }
     
@font-face{
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPT-medium.ttf") format("truetype");
    font-style: normal; 
    font-weight: 500; 
    }
        
@font-face{
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPT-regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
        
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
    }
        
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
        