@mixin size($w, $h)
{
	width: $w;
	height: $h;
}


@media screen and (min-width: 1439px) {
	
}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 769px) {	
	.container {
		width: auto;
		padding: 40px;
	}
	.item__text-feature {
		display: flex;
	}
	.item__left-feature {
		display: none;
	}
	.item__preview-minis {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	.item__container-big {
		@include size(auto,auto);
		max-width: 314px;
	}
	.full-photo {
		@include size(auto,372px);
		// max-width: 213px;
	}
	.item__preview {
		position: relative;
		top: 88px;
		width: 48%;
	}

	.item__left {
		margin-top: 0;
		position: absolute;
	}
	.item__description {
		margin-top: 0;
		width: 48%;
		.item__sizes-select{
			width: 100%;
		}
		.item__sizes {
			width: 100%;
		}
		.item__text {
			width: 100%;
		}
	}
	.item__sizes-select {
		flex-direction: column;
		.select {
			width: 100%;
		}
		.submit__btn {
			margin-top: 6px;
			width: 100%;
			margin-bottom: 35px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				background: url(../img/Vecto.png) no-repeat;
				@include size(18px,18px);
				top: 17px;
				right: 17px;
			}
			input {
				text-align: left;
				padding-left: 18px;
			}
			.heart {
				display: none;
			}
		}
		
	}
	.item__sizes-bottom {
		margin-top: 85px;
	}
	.item__subtitle {
		width: 100%;
	}
}

@media screen and (max-width: 733px) {
	.item__preview-minis {
		justify-content: space-between;
	}
}

@media screen and (max-width: 426px) {
	.item__container-big {
		max-width: 390px;
	}
	.wrapp {
		display: block;
	}
	.container{
		padding: 25px 20px;
	}
	.item__left{
		display: none;
	}
	.item__preview{
		display: none;
	}
	.item__description {
		width: 100%;
	}
	.item__sizes {
		display: flex;
		flex-direction: column-reverse;
	}

	.item__sizes-bottom {
		margin-top: 20px;
	}
	.mob {
		display: block;
	}

}

@media screen and (max-width: 320px) {
	
}
