@mixin size($w, $h)
{
	width: $w;
	height: $h;
}

@mixin text($w, $h)
{
	font-size: $w;
	line-height: $h;
}


@media screen and (min-width: 1439px) {
	
}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 769px) {	
	.container {
		width: auto;
		padding: 40px;
	}
	.item__text-feature {
		display: flex;
	}
	.item__left-feature {
		display: none;
	}
	.item__preview-minis {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	.item__container-big {
		@include size(auto,auto);
		max-width: 314px;
	}
	.full-photo {
		@include size(auto,372px);
		// max-width: 213px;
	}
	.item__preview {
		position: relative;
		top: 88px;
		width: 48%;
	}

	.item__left {
		margin-top: 0;
		position: absolute;
	}
	.item__description {
		margin-top: 0;
		width: 48%;
		.item-sizes__select{
			width: 100%;
		}
		.item-sizes {
			width: 100%;
		}
		.item__text {
			width: 100%;
		}
	}
	.item-sizes__select {
		flex-direction: column;
		.form-group {
			width: 100%;
		}
		.item-sizes__submit {
			margin-top: 10px;
			width: 100%;
			margin-bottom: 35px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				background: url(../img/Vecto.svg) no-repeat;
				@include size(18px,18px);
				top: 17px;
				right: 17px;
			}
			.submit__btn {
				justify-content: flex-start;
				padding-left: 18px;
			}
			.heart__btn {
				display: none;
			}
		}
		
	}
	.item-sizes__bottom {
		margin-top: 85px;
	}
	.item__subtitle {
		width: 100%;
	}
	.item-sizes__select {
		margin-top: 30px;
		height: auto;
	}
	.item-sizes__bottom {
		margin-top: 0;
	}
}

@media screen and (max-width: 733px) {
	.desk.slider .slick-dots {
		justify-content: space-between;
	}
}
@media screen and (max-width: 561px) {
	.desk.slider .slick-dots{
		bottom: -245px;
	}
}

@media screen and (max-width: 426px) {
	.desk {
		display: none;
		visibility: hidden;
	}
	.item__container-big {
		max-width: 390px;
	}
	.wrapp {
		display: block;
		margin-top: 0;
	}
	.container{
		padding: 25px 20px;
	}
	.item__left{
		display: none;
	}
	.item__preview{
		display: none;
	}
	.item__description {
		width: 100%;
	}
	.item-sizes {
		display: flex;
		flex-direction: column-reverse;
	}

	.item-sizes__bottom {
		margin-top: 25px;
	}
	.mob {
		display: block;
	}
	.item-sizes__submit .submit__btn {
		height: 40px;
	}
	.item-sizes__select .item-sizes__submit::after {
		top: 12px;
		right: 17px;
	}
	.dropdown__button {
		height: 40px;
		padding: 10px 5px 10px 18px;
	}
	.dropdown__button::after {
		top: 12px;
	}
	.dropdown__list {
		transform: translate(0, -40px);
	}
	.dropdown__list .dropdown__list-item {
		height: 39px;
		padding: 10px 5px 10px 18px;
	}
	.item__subtitle h1 {
		@include text(20px,24px);
	}
	.item__price {
		@include text(16px,20px);
	}
	.item__text-feature {
		margin-top: 30px;
	}
	.dropdown__list::after {
		top: 17px;
	}
}

@media screen and (max-width: 333px) {
	.item-sizes__circle{
		@include size(30px,30px);
		a {
			font-size: 12px;
		}
		&.none {
			&::before {
				height: 28px;
			}
		}
	}

}
