*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  display: block;
  list-style: none;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.desk.slick-slider {
  min-width: 0;
}
.desk.slick-list {
  overflow: hidden;
}
.desk.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.desk.slider {
  position: relative;
  padding: 0px 0px;
}
.desk.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: 0;
  display: none;
  visibility: hidden;
}
.desk.slider .slick-arrow.slick-prev {
  left: 0px;
}
.desk.slider .slick-arrow.slick-next {
  right: 0px;
}
.desk.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.desk.slider .slick-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: -165px;
  left: 50%;
  margin-left: -50%;
  gap: 15px;
}
.desk.slider .slick-dots li {
  list-style: none;
  margin: 0px 0px;
  width: 67px;
  height: 67px;
  background: url(../img/mini-jeans.png) no-repeat center, #F2F2F2;
  background-blend-mode: multiply;
}
.desk.slider .slick-dots button {
  font-size: 0;
  border: 0;
  border-radius: 0;
  width: 67px;
  height: 67px;
  position: relative;
  background: url(../img/mini-jeans.png) no-repeat center, #F2F2F2;
  background-blend-mode: multiply;
  z-index: 1;
}
.desk.slider .slick-dots li:nth-of-type(2n) button {
  background: url(../img/mini-jeans2.png) no-repeat center 1px;
}
.desk.slider .slick-dots li.slick-active:nth-of-type(2n) button {
  background: url(../img/mini-jeans2.png) no-repeat center 0px;
}
.desk.slider .slick-dots li.slick-active button {
  margin-top: -1px;
  background: transparent;
  z-index: 1;
  border: 2px solid black;
}
.desk.slider__item {
  padding: 0px 15px;
  margin: 0 auto;
}
.desk.slider__item img {
  max-width: 100%;
  margin: 0 auto;
}

.mob {
  display: none;
  z-index: 1;
  width: 100%;
}

.wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 100%;
}

.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slider {
  min-width: 0;
  width: 100%;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0px 0px;
  width: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: 0;
  display: none;
  visibility: hidden;
}

.slider .slick-arrow.slick-prev {
  left: 0px;
}

.slider .slick-arrow.slick-next {
  right: 0px;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 144px;
  left: 50%;
  bottom: -35px;
  margin-left: -72px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 4px;
  height: 4px;
  background-color: rgba(33, 32, 31, 0.5);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background-color: #21201f;
  border: 0;
}

.slider__item img {
  width: 100%;
  margin: 0 auto;
}

.slider__item {
  width: 100%;
  padding: 0px 5px;
  margin: 0 auto;
}

body {
  font-family: "FuturaPT", sans-serif;
  color: #000;
  font-size: 18px;
  background: white;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-family: "Inter";
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__left {
  width: 140px;
  margin-top: 100px;
  margin-right: 70px;
}

.item__left-nav {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 63px;
}
.item__left-nav a {
  text-transform: uppercase;
  opacity: 0.3;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 21px;
}
.item__left-nav i.right {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 3px;
  height: 3px;
  opacity: 0.3;
}

.item__left-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item__container-big {
  width: 396px;
  height: 566px;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.item__description {
  margin-left: auto;
  margin-top: 100px;
}

.item__subtitle {
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item__subtitle h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.item__price {
  font-size: 18px;
  line-height: 23px;
  margin-top: 5px;
}

.heart__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -75px;
}

.item-sizes__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 450px;
  height: 50px;
}

.item-sizes__submit {
  width: 50%;
  position: relative;
}
.item-sizes__submit .submit__btn {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  color: #ffffff;
  font-family: "FuturaPT";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

.item-sizes__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.item-sizes__bottom a {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.item-sizes__bottom .item-sizes__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-sizes__bottom .item-sizes__circles .item-sizes__circle {
  width: 41px;
  height: 41px;
  font-size: 14px;
  line-height: 18px;
  background: #EEEEEE;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 5px;
}
.item-sizes__bottom .item-sizes__circle.none {
  background: white;
  border: 1px solid #E5E5E5;
  position: relative;
}
.item-sizes__bottom .item-sizes__circle.none a {
  position: relative;
  z-index: 2;
}
.item-sizes__bottom .item-sizes__circle.none::before {
  content: "";
  width: 1px;
  height: 40px;
  background: #E5E5E5;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.item-sizes {
  width: 450px;
}

.item__text {
  width: 450px;
  margin-top: 35px;
  font-size: 18px;
  line-height: 23px;
}

.item__text-feature {
  margin-top: 50px;
  display: none;
}
.item__text-feature img {
  width: 67px;
  height: 67px;
}

.wrapp {
  display: none;
}

.form-group {
  width: 50%;
  position: relative;
}

.dropdown__button {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: left;
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: 0;
  padding: 15px 5px 15px 18px;
  color: #000;
  font-family: "FuturaPT";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}
.dropdown__button:focus {
  outline: none;
}
.dropdown__button::after {
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 9999999;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.dropdown__list {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  position: absolute;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border: 1px solid black;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.dropdown__list.visible {
  visibility: visible;
  opacity: 1;
}
.dropdown__list::after {
  content: "";
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 5;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.dropdown__list .dropdown__list-item {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  height: 49px;
  background: #fff;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 15px 5px 15px 18px;
  color: #000;
  font-family: "FuturaPT";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.dropdown__list .dropdown__list-item:hover {
  background: #EEE;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.dropdown__list .dropdown__list-item:last-child {
  border-bottom: 0;
}

.dropdown__input-hidden {
  display: none;
}

@media screen and (max-width: 769px) {
  .container {
    width: auto;
    padding: 40px;
  }

  .item__text-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .item__left-feature {
    display: none;
  }

  .item__preview-minis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item__container-big {
    width: auto;
    height: auto;
    max-width: 314px;
  }

  .full-photo {
    width: auto;
    height: 372px;
  }

  .item__preview {
    position: relative;
    top: 88px;
    width: 48%;
  }

  .item__left {
    margin-top: 0;
    position: absolute;
  }

  .item__description {
    margin-top: 0;
    width: 48%;
  }
  .item__description .item-sizes__select {
    width: 100%;
  }
  .item__description .item-sizes {
    width: 100%;
  }
  .item__description .item__text {
    width: 100%;
  }

  .item-sizes__select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-sizes__select .form-group {
    width: 100%;
  }
  .item-sizes__select .item-sizes__submit {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
  }
  .item-sizes__select .item-sizes__submit::after {
    content: "";
    position: absolute;
    background: url(../img/Vecto.svg) no-repeat;
    width: 18px;
    height: 18px;
    top: 17px;
    right: 17px;
  }
  .item-sizes__select .item-sizes__submit .submit__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 18px;
  }
  .item-sizes__select .item-sizes__submit .heart__btn {
    display: none;
  }

  .item-sizes__bottom {
    margin-top: 85px;
  }

  .item__subtitle {
    width: 100%;
  }

  .item-sizes__select {
    margin-top: 30px;
    height: auto;
  }

  .item-sizes__bottom {
    margin-top: 0;
  }
}
@media screen and (max-width: 733px) {
  .desk.slider .slick-dots {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 561px) {
  .desk.slider .slick-dots {
    bottom: -245px;
  }
}
@media screen and (max-width: 426px) {
  .desk {
    display: none;
    visibility: hidden;
  }

  .item__container-big {
    max-width: 390px;
  }

  .wrapp {
    display: block;
    margin-top: 0;
  }

  .container {
    padding: 25px 20px;
  }

  .item__left {
    display: none;
  }

  .item__preview {
    display: none;
  }

  .item__description {
    width: 100%;
  }

  .item-sizes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-sizes__bottom {
    margin-top: 25px;
  }

  .mob {
    display: block;
  }

  .item-sizes__submit .submit__btn {
    height: 40px;
  }

  .item-sizes__select .item-sizes__submit::after {
    top: 12px;
    right: 17px;
  }

  .dropdown__button {
    height: 40px;
    padding: 10px 5px 10px 18px;
  }

  .dropdown__button::after {
    top: 12px;
  }

  .dropdown__list {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }

  .dropdown__list .dropdown__list-item {
    height: 39px;
    padding: 10px 5px 10px 18px;
  }

  .item__subtitle h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .item__price {
    font-size: 16px;
    line-height: 20px;
  }

  .item__text-feature {
    margin-top: 30px;
  }

  .dropdown__list::after {
    top: 17px;
  }
}
@media screen and (max-width: 333px) {
  .item-sizes__bottom .item-sizes__circles .item-sizes__circle {
    width: 30px;
    height: 30px;
  }
  .item-sizes__bottom .item-sizes__circles .item-sizes__circle a {
    font-size: 12px;
  }
  .item-sizes__bottom .item-sizes__circles .item-sizes__circle.none::before {
    height: 28px;
  }
}